APP_URL="http://localhost:8000"
POH_APP_URL="https://robotornot.mainnet-beta.rarimo.com"

# https://api-qa.collab.land/config
COLLABLAND_ED25519_PUBLIC_KEY_HEX="bc9b6e5b99a10481e47aad74dbfdadb125e3c50a642ed2546b3602e43373c93a"

## optional
LOG_LEVEL="debug"
SKIP_VERIFICATION=false

