/* stylelint-disable scss/dollar-variable-empty-line-before */
@import './base-colors';

$col-bg-divider: rgba($col-black, 0.06);

$col-txt-primary: rgba($col-black, 0.87);
$col-txt-secondary: rgba($col-black, 0.6);
$col-txt-disabled: rgba($col-black, 0.38);
$col-txt-hover: rgba($col-black, 0.04);
$col-txt-selected: rgba($col-black, 0.08);
$col-txt-focus: rgba($col-black, 0.12);
$col-txt-focus-visible: rgba($col-black, 0.30);

$col-primary-main: #4e9e7f;
$col-primary-dark: #468e72;
$col-primary-light: #60a88c;
$col-primary-contrast: $col-white;
$col-primary-outlined-border: rgba($col-primary-main, 0.5);
$col-primary-hover: rgba($col-primary-main, 0.08);

$col-secondary-main: #feb475;
$col-secondary-dark: #cb905e;
$col-secondary-light: #fec391;
$col-secondary-contrast: $col-black;

$col-error-main: #d32f2f;
$col-error-dark: #c62828;
$col-error-light: #ef5350;
$col-error-contrast: $col-white;

$col-warning-main: #ef6c00;
$col-warning-dark: #ef6c00;
$col-warning-light: #ff9800;
$col-warning-contrast: $col-white;

$col-info-main: #0288d1;
$col-info-dark: #01579b;
$col-info-light: #03a9f4;
$col-info-contrast: $col-white;

$col-success-main: #376f59;
$col-success-dark: #274f40;
$col-success-light: #4e9e7f;
$col-success-contrast: $col-white;

$col-action-active: rgba($col-black, 0.56);
$col-action-hover: rgba($col-black, 0.04);
$col-action-selected: rgba($col-black, 0.08);
$col-action-focus: rgba($col-black, 0.12);
$col-action-disabled: rgba($col-black, 0.38);
$col-action-disabled-bg: rgba($col-black, 0.12);

$col-bg-primary: #fbfbfb;
$col-bg-paper: $col-white;
/* stylelint-enable scss/dollar-variable-empty-line-before */
