@import 'variables';
@import 'functions';
/* stylelint-disable scss/selector-no-redundant-nesting-selector */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable custom-property-empty-line-before */
:root,
:before,
:after {
  /* Text variables */
  & {
    --txt-font-family: #{$txt-font-family};
    --txt-font-weight-light: #{$txt-font-weight-light};
    --txt-font-weight-regular: #{$txt-font-weight-regular};
    --txt-font-weight-medium: #{$txt-font-weight-medium};
    --txt-font-weight-bold: #{$txt-font-weight-bold};
    --txt-font-weight-extra-bold: #{$txt-font-weight-extra-bold};

    --txt-font-size-regular: #{$txt-font-size-regular};
    --txt-font-size-h1: #{$txt-font-size-h1};
    --txt-font-size-h2: #{$txt-font-size-h2};
    --txt-font-size-h3: #{$txt-font-size-h3};
    --txt-font-size-h4: #{$txt-font-size-h4};
    --txt-font-size-h5: #{$txt-font-size-h5};
    --txt-font-size-h6: #{$txt-font-size-h6};
    --txt-font-size-subtitle1: #{$txt-font-size-subtitle1};
    --txt-font-size-subtitle2: #{$txt-font-size-subtitle2};
    --txt-font-size-body1: #{$txt-font-size-body1};
    --txt-font-size-body2: #{$txt-font-size-body2};
    --txt-font-size-button: #{$txt-font-size-button};
    --txt-font-size-caption: #{$txt-font-size-caption};

    --txt-font-line-height-h1: #{$txt-font-line-height-h1};
    --txt-font-line-height-h2: #{$txt-font-line-height-h2};
    --txt-font-line-height-h3: #{$txt-font-line-height-h3};
    --txt-font-line-height-h4: #{$txt-font-line-height-h4};
    --txt-font-line-height-h5: #{$txt-font-line-height-h5};
    --txt-font-line-height-h6: #{$txt-font-line-height-h6};
    --txt-font-line-height-subtitle1: #{$txt-font-line-height-subtitle1};
    --txt-font-line-height-subtitle2: #{$txt-font-line-height-subtitle2};
    --txt-font-line-height-body1: #{$txt-font-line-height-body1};
    --txt-font-line-height-body2: #{$txt-font-line-height-body2};
    --txt-font-line-height-button: #{$txt-font-line-height-button};
    --txt-font-line-height-caption: #{$txt-font-line-height-caption};

    --txt-font-weight-h1: #{$txt-font-weight-h1};
    --txt-font-weight-h2: #{$txt-font-weight-h2};
    --txt-font-weight-h3: #{$txt-font-weight-h3};
    --txt-font-weight-h4: #{$txt-font-weight-h4};
    --txt-font-weight-h5: #{$txt-font-weight-h5};
    --txt-font-weight-h6: #{$txt-font-weight-h6};
    --txt-font-weight-subtitle1: #{$txt-font-weight-subtitle1};
    --txt-font-weight-subtitle2: #{$txt-font-weight-subtitle2};
    --txt-font-weight-body1: #{$txt-font-weight-body1};
    --txt-font-weight-body2: #{$txt-font-weight-body2};
    --txt-font-weight-button: #{$txt-font-weight-button};
    --txt-font-weight-caption: #{$txt-font-weight-caption};
  }

  /* UI variables */
  & {
    --ui-header-height: #{to-rem(76)};
    --ui-max-width: #{to-rem(1432)};
    --ui-header-padding-top: #{to-rem(32)};
    --ui-header-padding-top-xs: #{to-rem(20)};
    --ui-header-padding-overlay-vertical: #{to-rem(24)};
    --ui-header-padding-overlay-xs: var(--ui-header-padding-top-xs) var(--ui-content-side-padding-xs) var(--ui-content-side-padding-xs);
    --ui-header-padding-overlay-sm: var(--ui-header-padding-overlay-vertical) var(--ui-content-side-padding-sm);
    --ui-header-padding-overlay-lg: var(--ui-header-padding-overlay-vertical) var(--ui-content-side-padding-lg);
    --ui-header-padding-xs: var(--ui-header-padding-top-xs) var(--ui-content-side-padding-xs) 0;
    --ui-header-padding-sm: var(--ui-header-padding-top) var(--ui-content-side-padding-sm) 0;
    --ui-header-padding-lg: var(--ui-header-padding-top) var(--ui-content-side-padding-lg) 0;
    --ui-footer-padding-top: #{to-rem(56)};
    --ui-footer-padding-bottom: #{to-rem(80)};
    --ui-footer-padding-top-xs: #{to-rem(32)};
    --ui-footer-padding-bottom-xs: #{to-rem(40)};
    --ui-footer-padding-xs: var(--ui-footer-padding-top-xs) var(--ui-content-side-padding-xs) var(--ui-footer-padding-bottom-xs);
    --ui-footer-padding-sm: var(--ui-footer-padding-top) var(--ui-content-side-padding-sm) var(--ui-footer-padding-bottom);
    --ui-footer-padding-lg: var(--ui-footer-padding-top) var(--ui-content-side-padding-lg) var(--ui-footer-padding-bottom);
    --ui-content-padding-top: #{to-rem(104)};
    --ui-content-side-padding-xs: #{to-rem(20)};
    --ui-content-side-padding-sm: #{to-rem(62)};
    --ui-content-side-padding-lg: #{to-rem(124)};
    --ui-content-bottom-padding-xs: #{to-rem(40)};
    --ui-content-bottom-padding-sm: #{to-rem(104)};
    --ui-content-bottom-padding-lg: #{to-rem(124)};
    --ui-content-padding-xs: calc(var(--ui-header-height) + var(--ui-header-padding-top-xs)) var(--ui-content-side-padding-xs) var(--ui-content-bottom-padding-xs);
    --ui-content-padding-sm: calc(var(--ui-header-height) + var(--ui-header-padding-top)) var(--ui-content-side-padding-sm) var(--ui-content-bottom-padding-sm);
    --ui-content-padding-lg: calc(var(--ui-header-height) + var(--ui-header-padding-top)) var(--ui-content-side-padding-lg) var(--ui-content-bottom-padding-lg);
    --ui-navbar-padding-xs: var(--ui-header-padding-top-xs) 0 var(--ui-content-side-padding-xs);
    --ui-navbar-padding-sm: var(--ui-header-padding-top) 0 var(--ui-content-side-padding-sm);
  }
}

/* stylelint-enable scss/selector-no-redundant-nesting-selector */
/* stylelint-enable no-duplicate-selectors */
/* stylelint-enable custom-property-empty-line-before */
